.chatheader{
    background-color: #333333;
    margin-top: 4px;
}

.backbutton i,.videocall i,.voicecall i{
    color: white;
    font-size: 23px;
    cursor: pointer;
}
.calls{
    border:1px solid #3a3939;
    background-color: #3a3939;
    border: none;
    outline: none;
    border-radius: 5px;
}
.searchicon i{
    color: white;
    font-size: 15px;
    cursor: pointer;
}
.profilephoto img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-left: 18px;

}
.break{
    font-size: 20px;
    color: #484646;
}
.chatwallpaper img{
    width: 69vw;
    height: 91vh;
    object-fit: cover;
}
.emoji i,.attachment i,.sendbtn i,.mic i{
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.messagebar input{
    width: 781px;
}
.messagebar{
    padding-bottom: 5px;
}
.chatarea1{
    width: 100%;
    height: 83vh;
    overflow: hidden;
}
.typedchat{
    max-width: 50%;
    font-size: 19px;
}
.messagearea .chatanddelte{
    display: flex;
    align-items: center;
    justify-content: end;
}
.messagearea .chatanddelte p{
    font-weight: lighter;
    text-align: left;
    font-size: 15px;
    width: max-content;
    margin-left: 100px;
    color: white;
    padding: 8px;
    border-radius: 5px;
    background-color: #026142;
}
.deletebtn{
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.mic {
    padding-bottom: 14px;
}